<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<form method="post" class="border" action="file:///C:/Users/User/Documents/extra/extra/extra-home.html">
    <span class="Welcome-">Welcome !</span>
    <div class="dd"></div>
    <span class="Sign-in-to">Sign in to</span>
    <br>
    <span class="Now-come-get-some-new-ideas">Now come get some new ideas</span>
    <div class="classroom"></div>

    <div class="username">
        <span class="Un">User name</span>
        <input class="inputu" placeholder="Enter your user name" required id="name">
    </div>

    <div class="password">
        <span class="ps">password</span>
        <input class="inputu" placeholder="Enter your password" minlength="8" maxlength="12" type="password" required id="bibeon">
    </div>

    <label class="Remember-me"><input type="checkbox" id="coco">Remember me</label>

    <div class="classroom2"></div>
    <button class="Loginbar" id="button"><span class="Login">Login</span></button>
</form>
</body>
</html>
