
.headerContainer{
    position: fixed;
    display: flex;
    width: 100%;
    height: auto;
    top: 0%;
    left: 0%;
}
.headerNonBox1{
    position: fixed;
    display: flex;
    top: 0%;
    left: 0%;
    background-color: #434C3C;
    width: 32%;
    height: 29%;
    min-height: 108px;
    min-width: 300px;

}
.headerNonBox2{
    position: fixed;
    display: flex;
    right: 10%;
    width: 70%;
    height: 20px;
    top: 5%;
    background-color: #778E73;
}
.headerButtonBox{
    position: fixed;
    display: flex;
    right: 0%;
    width: 90%;
    height: 15%;
    min-height: 70px;
    top: 10%;
    background-color: #5F6E5C;
}
@media screen and (max-height: 540px) {
    .headerButtonBox{
        top: 50px;
    }
}
.headerButtonContainer{
    position: relative;
    display: flex;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    gap: 3% 5%;
    transition: 1s;
}
.headerButton{
    position: relative;
    display: flex;
    height: 80%;
    width: 21.25%;
    top: 10%;
    border: 0px;
    background-color: #D9D9D9;
    transition: 1s;
}

.headerButtonText{
    position: relative;
    display: inline-block;
    width: auto;
    text-align: center;
    align-items: center;
    font-size: 35px;
    left: 2.5vw;
    top: 32%;
}
.headerImg{
    position: fixed;
    display: flex;
    top: 6%;
    left: 2%;
    width: 6%;
    height: 15%;
    min-height: 60px;
    object-fit: cover;
    border: 5px solid black;
}
@media screen and (max-width: 1500px) {
    .headerButtonText{
        left: 1.3vw;
        font-size: 30px;
    }
    @media screen and (max-width: 1100px) {
        .headerButtonText{
            left: 1vw;
            font-size: 25px;
        }
        @media screen and (max-width: 850px) {
            .headerButtonText{
                left: 0.8vw;
                font-size: 20px;
            }
            @media screen and (max-width: 650px) {
                .headerButtonText{
                    left: 0.4vw;
                    font-size: 15px;
                }
            }
        }
    }
}