<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="kody_mainViewPort_header" class="headerContainer">
    <span id="kody_mainViewPort_nonActiveBoxBig" class="headerNonBox1"></span>
    <span id="kody_mainViewPort_nonActiveBoxsmall" class="headerNonBox2"></span>
    <span id="kody_mainViewPort_img" class="headerImg"></span>
    <span id="kody_mainViewPort_buttonBox" class="headerButtonBox">
            <span id="kody_mainViewPort_buttonContainer" class="headerButtonContainer">
                <button id="kody_mainViewPort_button1" class="headerButton"><span id="kody_mainViewPort_button1_Text" class="headerButtonText">POSTING</span></button>
                <button id="kody_mainViewPort_button2" class="headerButton"><span id="kody_mainViewPort_button2_Text" class="headerButtonText">SUBMIT</span></button>
                <button id="kody_mainViewPort_button3" class="headerButton"><span id="kody_mainViewPort_button3_Text" class="headerButtonText">PROFILE</span></button>
                <button id="kody_mainViewPort_button4" class="headerButton"><span id="kody_mainViewPort_button4_Text" class="headerButtonText">FRIEND</span></button>
            </span>
        </span>
</div>
<div id="kody_mainViewPort_main">

</div>
<div id="kody_mainViewPort_footer">

</div>
</body>
</html>